html {
    scroll-behavior: smooth;
}

body {
    background-color:#fafafa;
    font-family: Inconsolata, monospace;
}

.profile-picture {
    margin-top:10%;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.title {
    margin-top: 50%;
}

.sub-title {
   font-size: 20px;
}

.about {
    margin-top: 10%;
    text-align: center;
}

.footer {
    margin-top: 10%;
    text-align: center;
    background-color: #4b4b4b;
}

.footer h1{
    padding: 10px 0 10px 0;
    color: #EBE9E9;
    font-size: 30px;
}

a i {
    color: #fafafa;
    font-size: 2em;
    margin-bottom: 10px;
}

a i:hover {
    color: purple;
}

.about .profile-picture {
    width: 60%;
}

.project-picture {
    margin-top:10%;
    width: 100%;
    height: auto;
}

.project {
    text-align: center;
}

.container-fluid.project {
    margin-top: 10%;
}
.project .col-md-3 {
    margin-top: 20px;
}
  

